:root {
	// Variable '_template-50' was not parsed because it has no value
	// Variable '_template-100' was not parsed because it has no value
	// Variable '_template-200' was not parsed because it has no value
	// Variable '_template-300' was not parsed because it has no value
	// Variable '_template-400' was not parsed because it has no value
	// Variable '_template-500' was not parsed because it has no value
	// Variable '_template-600' was not parsed because it has no value
	// Variable '_template-700' was not parsed because it has no value
	// Variable '_template-800' was not parsed because it has no value
	// Variable '_template-900' was not parsed because it has no value
	--neutral-0: #FFFFFF;
	--neutral-50: #F9FAFB;
	--neutral-100: #F1F1F1;
	--neutral-200: #D4D4D4;
	--neutral-300: #B8B8B8;
	--neutral-400: #9C9C9C;
	--neutral-500: #808080;
	--neutral-600: #636363;
	--neutral-700: #474746;
	--neutral-800: #2A2A2A;
	--neutral-900: #0E0E0E;
	--primary-50: #FAECE9;
	--primary-100: #F0C6C1;
	--primary-200: #E8A09A;
	--primary-300: #DE7B71;
	--primary-400: #D8594C;
	--primary-500: #E63329;
	--primary-600: #AC3023;
	--primary-700: #85251A;
	--primary-800: #5F1912;
	--primary-900: #380E0A;
	--radius-sm: 4px;
	--radius-md: 8px;
	--radius-lg: 16px;
}